.a-share-page {
  text-align: center;
  // width: 10%;
  // margin: 0 10px;
  // display: inline;
}

.a-share-page__icon {
  font-size: 2em;
  margin-top: 10px;
  color: #fff;
  display: block;
}

.a-share-buttons {
  display: flex;
  justify-content: center;
}
