<header>
  <div class="m-navbar">
    <ul>
      <li class="m-navbar__item"><a href="/"><i class="fa fa-home m-navbar__item--icon"></i>Steve Brewer</a></li>
      <li class="m-navbar__item"><a href="/cv"><i class="fa fa-file-text m-navbar__item--icon"></i>CV</a></li>
      <li class="m-navbar__item"><a href="/blog"><i class="fa fa-pencil m-navbar__item--icon"></i>Blog</a></li>
      <li class="m-navbar__item"><a href="/quotes"><i class="fa fa-quote-left m-navbar__item--icon"></i>Quotes</a></li>
    </ul>
  </div>
</header>
